#root {
    -fx-background-color: #333333;
    -fx-padding: 1px;
}

/* ツールバー */
#page-tree-toolbar {
    -fx-padding: 3 4 4 4;
    -fx-border-image-source: url("images/mid-bar-left.png");
    -fx-border-image-slice: 1 0 1 0 fill;
    -fx-border-image-width: 1 0 1 0;
    -fx-border-image-repeat: stretch;
}
#page-tree-toolbar .toggle-button .text {
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.6) , 0, 0.0 , 0 , 1 );
}
#page-tree-toolbar .toggle-button:selected .text {
    -fx-effect: dropshadow( three-pass-box , black , 3, 0.5 , 0 , 0 );
}
#page-tree-toolbar .toggle-button {
    -fx-padding: 3 10 3 10;
    -fx-background-color: null;
    -fx-background-radius: 10,9,8,6;
    -fx-background-insets: 0;
}
#page-tree-toolbar .toggle-button:focused {
    -fx-background-color: null;
    -fx-border-color: -fx-focus-color;
    -fx-border-width: 1.8;
    -fx-border-radius: 8px;
}
#page-tree-toolbar .toggle-button:selected {
    -fx-text-fill: -fx-light-text-color;
    -fx-background-color:
        #CCCCCC,
        linear-gradient(derive(-fx-color,-90%), derive(-fx-color,-60%)),
        linear-gradient(derive(-fx-color,-60%), derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%)),
        linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3));
    -fx-background-insets: 0 0 -1 0, 0, 1, 1;
}
#page-tree-toolbar .toggle-button:selected:focused {
    -fx-background-color:
        -fx-focus-color,
        linear-gradient(derive(-fx-color,-90%), derive(-fx-color,-60%)),
        linear-gradient(derive(-fx-color,-60%), derive(-fx-color,-35%) 50%, derive(-fx-color,-30%) 98%, derive(-fx-color,-50%)),
        linear-gradient(to left, rgba(0,0,0,0.3), rgba(0,0,0,0) 10%, rgba(0,0,0,0) 90%, rgba(0,0,0,0.3));
    -fx-background-insets: -1, 0, 1, 1;
}
/* ツールバー上のボタン */
#page-toolbar {
    -fx-border-image-source: url("images/mid-bar-right.png");
    -fx-border-image-slice: 1 0 1 0 fill;
    -fx-border-image-width: 1 0 1 0;
    -fx-border-image-repeat: stretch;
    -fx-padding: -1px 0px 0px 0px;
    -fx-spacing: 0;
}
#page-toolbar HBox {
    -fx-fill-height: true;
    -fx-alignment: center-left;
}


#page-toolbar .button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 3px 6px 4px 6px;
    -fx-border-color: transparent #6e737d transparent rgba(255,255,255,0.3) , transparent rgba(255,255,255,0.3) transparent transparent;
    -fx-border-insets: 0, 0 1 0 1;
}
#page-toolbar #SettingsButton {
    -fx-border-color: transparent transparent transparent #6e737d , transparent transparent transparent rgba(255,255,255,0.3);
    -fx-border-insets: 0, 0 1 0 1;
}
#page-toolbar .button:hover {
    -fx-background-color: rgba(255,255,255,0.4);
}
#page-toolbar .button:focused, #page-toolbar #SettingsButton:focused  {
    -fx-border-color: -fx-focus-color;
    -fx-border-width: 1.4;
}


/* 板一覧 */
#page-tree .tree-cell {
    -fx-indent: 10;
    -fx-background-color: transparent;
    
}
#page-tree .tree-cell:odd {
    -fx-background-color: transparent;
}
#page-tree .tree-cell:filled:selected:focused, #page-tree .tree-cell:filled:selected {
    -fx-background: #666666;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
#page-tree:focused .tree-cell:filled:selected {
    -fx-background: -fx-accent;
}
#page-tree {
    -fx-background-color: #d1dee3;
    -fx-border-image-source: url("images/tree-background.png");
    -fx-border-image-slice: 30 30 30 30 fill;
    -fx-border-image-width: 30 30 30 30;
    -fx-border-image-repeat: stretch;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: -30; /* counter the 30px added by border image to give 0 overall */
    -fx-font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
#page-tree:focused {
   /* -fx-background-color: #d1dee3; */
    -fx-background-color: -fx-focus-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
/* Window Button Styles */
.window-button {
    -fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
    -fx-background-color: #616161, #464646, #505050;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 6,5,4;
    -fx-padding: 0 0 0 0;
    /* workaround for button sizing */
    -fx-font-size: 1px;
}

/* スプリットペイン */
#page-splitpane {
    -fx-background-color: null;
    -fx-background-insets: 0;
    -fx-padding: 0;
}
#page-splitpane *.split-pane-divider{
    -fx-padding: 0 1 0 0;
    -fx-background-color: transparent, #333333;
    -fx-background-insets: 0 -3 0 -3, 0;
    -fx-border-color: null;
}
#page-splitpane *.horizontal-grabber {
    -fx-padding: 0;
    -fx-shape: "";
}

/* ウインドウサイズ変更ボタン */
#window-resize-button {
    -fx-background-image: url("images/window-corner.png");
    -fx-background-position: right 1px bottom 1px;
    -fx-background-repeat: no-repeat;
}